
<div>
    <button style="margin-left: 30px; margin-top: 30px; ">chart</button>
</div>
<div>
    <ag-charts-angular style=" width: 500px;height: 600px; padding-left: 200px;" [options]="options">

    </ag-charts-angular>
</div>
<div>
    <ag-charts-angular style=" width: 1000px;height: 600px; padding-left: 200px;" [options]="options_pie">

    </ag-charts-angular>
</div>
<div>
    <ag-charts-angular style=" width: 1000px;height: 600px; padding-left: 200px;" [options]="options_line">

    </ag-charts-angular>
</div>
<div>
    <ag-charts-angular style=" width: 1000px;height: 600px; padding-left: 200px;" [options]="options_scatter">

    </ag-charts-angular>
</div>

<div>
    <ejs-diagram id="diagram" width="100%" height="580px" mode="SVG" [constraints]="diagramConstraints"  [connectors]="connectors" [nodes]="nodes">


    </ejs-diagram>
</div>